[submodule "vendor/maxframe"]
	path = vendor/maxframe
	url = git://github.com/rmm5t/maxframe-el.git
[submodule "vendor/ecb-2.32"]
	path = vendor/ecb-2.32
	url = git://github.com/pat-maddox/ecb.git
[submodule "vendor/org-6.30e"]
	path = vendor/org-6.30e
	url = git://repo.or.cz/org-mode.git
[submodule "site-lisp/rspec-mode"]
	path = site-lisp/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
