loaddefs.el*
backups/*
auto-save-list
custom.el*
*elc
url/cookies
nthumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
tramp
\#*
places
session.*
eproject.lst
